a(href='/')
    button Go Back

div(id="emailInput")
    form(id="movieReviewForm" method="POST")
        p Email:
            input(id="emailInput" name="email" type="text" placeholder="example@email.com")
        if failedEmailAttempt
            p That email was not recognized
        input(id="submitBtn" type="submit" value="Send Email") 