header
    h1(class="page_title") Register
    link(href="style.css" rel="stylesheet")

div(id="navBar")
    ul
        li
            a(href="/" class="nav_item") Home
        li
            a(href="/moviePage" class="nav_item") Search A Movie
        li
            a(href="/signup" class="nav_item") Login
section(class="main_area")
    p(class="error_label") #{errmsg}
    form(action="/signup" method="POST" class="form" id='demo-form')
        input(type="text" name="email" placeholder="Email" id="email" class="signup_field")
        p(id="emailError" class="error_label")
        input(type="text" name="username" placeholder="Username" id="username" class="signup_field")
        p(id="usernameError" class="error_label")
        input(type="password" name="password" placeholder="Password" id="password" class="signup_field") 
        p(id="passwordError" class="error_label")
        div(id="result")
        <div class="g-recaptcha" data-sitekey="6LdLMj8aAAAAAGW2SUWdVFKCC94OBcc6A4KMM3DZ"></div>
        input(type="submit" value="Register" id="submitBtn" class="log_btn")
    p(class="register_text") Already have an account?
        a(class="sign_btn" href="/login") Login!
script(src="./js/validation.js")
script(src="./js/captcha.js")
script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer)
